.postComent{
    display:flex ;
    padding:1em;
    box-sizing: border-box;
    width:100% !important;
    max-width:100%;
    
}
.singlePageForm{
    padding:1em 0;
}
.postComent textarea{
    resize: none;
    flex-grow:1;
    padding:.5em;
    border:none;
    background-color: rgba(128, 128, 128, 0.205);

    outline-color: #fb1;
    font-size: 16px;

}
.postComent textarea:focus{
    background-color:white;
}
.submitButton{
    height:100%;
    margin:0;
    padding-left:1em;
    border:none;
    cursor:pointer;
   background-color:inherit;
   margin:auto;
}

.postComent button:hover path, .postComent button:focus path{
    fill:#fb1;

}
@keyframes coment{
    
    0%{
        fill:none;
    }
    100%{
        fill:#fb1;
    }
}
.postComent .animated svg > *{
    fill:#fb1;
}
.postComent .animated g path{
    animation:.5s coment infinite ;

}


