.modal{
    display:flex;
    background-color:rgba(0, 0, 0, 0.466);
    position:fixed;
    height:100vh;
    width:100vw;
    top:0;
    left:0;
    z-index:15;
    box-sizing:border-box;
    /* padding:1em calc(2em + 15px) 1em 2em; */

}


@media (max-width:40rem){
    .modal{
        padding:2em calc(2em + 15px) 2em 2em;
    }
}
